<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
<div style="display:flex; justify-content:space-evenly">
    <div style="margin-left:20px; width: 50%; padding: 10px;">
        <h1 style="margin-left: 40px;">Add a New User</h1>
        <form action="/users/create" method="POST"
            style="display:flex; flex-direction:column; justify-content:center; padding: 10px;margin: 20px;">
            <label for='first_name'>First Name:</label>
            <input type='text' name='first_name'>
            <label for='last_name'>Last Name:</label>
            <input type='text' name='last_name'>
            <label for='email'>Email:</label>
            <input type='text' name='email'>
            <br>
            <button type='submit'
                style="width:100px;height:40px;background-color:green;color:white;border-radius:5px;border:none;">Create</button>
        </form>
    </div>
    <div>
        <a href="/users">Home</a>
    </div>
</div>
</body>

</html>